
/* modify :: main : defaults
/* ------------------------------------------------------------------------------------------------------------------------- */
    *{box-sizing: border-box;}


    html{height:100%; font-size:1.125vw; line-height:1.5vw;}
    @media all and (max-width: 900px){ html{font-size:10px; line-height:13px;} }


    @font-face
    {
        font-family: "bookFont";
        src: url("./bookFont.woff?t0ns1w") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: block;
    }
/* ------------------------------------------------------------------------------------------------------------------------- */





/* modify :: innate : tags
/* ------------------------------------------------------------------------------------------------------------------------- */
    body
    {
        height: 100%;
        background-color: hsl(210,11%,12%);
        font-family: "bookFont";
        color: rgb(245,245,245);
        overflow: hidden;
        margin: 0;
    }

    iframe
    {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        margin: 0;
        padding: 0;
    }
/* ------------------------------------------------------------------------------------------------------------------------- */





/* define :: custom : tags
/* ------------------------------------------------------------------------------------------------------------------------- */
    veneer
    {
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: none;
        white-space: nowrap;
    }

    holder
    {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: none;
    }
/* ------------------------------------------------------------------------------------------------------------------------- */





/* define :: relative : classes for behavior
/* ------------------------------------------------------------------------------------------------------------------------- */
    .dbug
    {
        min-width:20px !important; min-height:20px !important; background:#BADA55 !important;
        font-size:11px !important; color:#AA0000 !important;
        border:1px solid #AA0000 !important; border-radius:0 !important;
        opacity:1 !important;
    }

    .scroll
    {
        overflow: auto
    }
/* ------------------------------------------------------------------------------------------------------------------------- */




/* define :: relative : classes for alignment
/* ------------------------------------------------------------------------------------------------------------------------- */
    .center
    {
        position: absolute;
        left: 50%;
        transform: translate(-50%,0%);
    }

    .middle
    {
        position: absolute;
        top: 50%;
        transform: translate(0%,-50%);
    }

    .cenmid
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
/* ------------------------------------------------------------------------------------------------------------------------- */
